body
{background-color:#white;
}

#header
{background-color:#DBDBDB;
	width:0%;
	min-height: 100px;
	color:#00CCFF;
	text-align:center;
	font-size:75pt;
	}
	
#leftcolumn
{background-color:white;
	min-height: 400px;
	color:#white;
	text-align:center;
	width:20%;
	font-size:35pt;
	float:left;}
	
#maincolumn
{background-color:white;
	width:80%;
	min-height: 400px;
	color:black;
	text-align:center;
	font-size:70px;
	float:right;
	}
	
#footer
{background-color:white;
	width:100%;
	min-height:10px;
	color:#000000;
	text-align:center;
	clear:both;
	}
